// SCSS correspondiente a la paginad de visualizacon de usuarios

.admin-users {
  margin: 16px;

  .admin-users-title {
    font-size: 2rem;
    color: black;
    margin: 8px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

  }

  .admin-users-table {
    gap: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 16px;

    .admin-users-table {
      font-size: 1.5rem;
      color: black;
      margin-bottom: 8px;
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      border: black solid 1px;

    }

  }

}
