.admin-dashboard {
  display: flex;
  padding: 20px;

  .admin-dashboard-title-card-A {
    height: 100vh;
    width: 50%;
    border: 2px solid black;

    .admin-dashboard-title {

      h1 {
        color: #9a5f45;
        font-size: 48px;
        font-family: "Dancing Script", serif; // Aplicando la nueva fuente
        font-weight: 600;
      }

    }

  }

  .dashboard-sections {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;

    .section {
      border: 1px solid #ccc;
      padding: 15px;
      border-radius: 5px;
      width: 30%;
      text-align: center;

      .btn {
        display: inline-block;
        margin-top: 10px;
        padding: 10px 15px;
        background-color: #007bff;
        color: white;
        text-decoration: none;
        border-radius: 5px;
      }
      .btn:hover {
        background-color: #0056b3;
      }
    }
  }



}
