// SCSS correspondiente a la paginad de visualizacon de usuarios

.admin-users {
  border: 1px solid black;
  margin: 8px;

  .admin-users-title {
    font-size: 2rem;
    color: black;
    text-align: center;
    margin-bottom: 20px;
    display: flex

  }
}
