.admin-dashboard {
  display: flex;

  .admin-dashboard-title-card-A {
    height: 100vh;
    width: 48%;
    margin: 0 8px;

    .admin-dashboard-title {
      width: 100%;
      height: 25%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 16px;
      background: linear-gradient(145deg, #cacaca, #f0f0f0);
      box-shadow:  20px 20px 60px #bebebe,
                   -20px -20px 60px #ffffff;
      margin: 8px;

      h1 {
        color: #9a5f45;
        font-size: 48px;
        font-family: "Dancing Script", serif; // Aplicando la nueva fuente
        font-weight: 600;
      }

    }

    .admin-dashboard-information {
      width: 100%;

      border-radius: 16px;
      background: linear-gradient(145deg, #cacaca, #f0f0f0);
      box-shadow:  20px 20px 60px #bebebe,
                  -20px -20px 60px #ffffff;
      margin: 8px;
      padding: 8px;

      h2 {
        color: #9a5f45;
        font-size: 24px;
        font-weight: 600;
      }

      p {
        color: #9a5f45;
        font-size: 18px;
        font-weight: 400;
      }
    }


  }

  .dashboard-sections {
    display: flex;
    flex-direction: column;
    width: 48%;
    margin: 8px 8px 4px 4px;
    gap: 20px;

    .section {

      padding: 15px;
      text-align: center;
      border-radius: 16px;
      background: linear-gradient(145deg, #cacaca, #f0f0f0);
      box-shadow:  20px 20px 60px #bebebe,
                    -20px -20px 60px #ffffff;

      .btn {
        display: inline-block;
        margin-top: 10px;
        padding: 10px 15px;
        background-color: #007bff;
        color: white;
        text-decoration: none;
        border-radius: 5px;
      }
      .btn:hover {
        background-color: #0056b3;
      }
    }
  }



}
