.admin-dashboard {
  padding: 20px;

  .admin-dashboard-title-card-A {

    .admin-dashboard-title {


    }

  }

  .dashboard-sections {
    display: flex;
    gap: 20px;

    .section {
      border: 1px solid #ccc;
      padding: 15px;
      border-radius: 5px;
      width: 30%;
      text-align: center;

      .btn {
        display: inline-block;
        margin-top: 10px;
        padding: 10px 15px;
        background-color: #007bff;
        color: white;
        text-decoration: none;
        border-radius: 5px;
      }
      .btn:hover {
        background-color: #0056b3;
      }
    }
  }



}
