// SCSS correspondiente a article category show
.main-card-buttons {

  height: 10vh;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #f3d2c3;

  a {
    margin: 0 8px;
    color: #e8997c;
    font-family: "Dancing Script", serif;
    font-weight: 600;
    text-decoration: none;
    font-size: 4vw;
  }
}

.articles-category-container {
  background-color: white;



  .article-cards-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 3rem 2rem;

    .product-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 60vh;
      width: 25%;
      background-color: #ffffff;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      text-align: center;
      transition: transform 0.2s ease, box-shadow 0.2s ease;
      padding: 0;

      &:hover {
        transform: scale(1.02);
        box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
      }

      .product-image {
        height: 50%;
        width: 100%;
        overflow: hidden;
        margin: 16px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .product-details {
        width: 100%;

        .product-name {
          height: 20%;
          display: flex;
          justify-content: center;
          align-items: center;

          h2 {
            color: #9a5f45;
            font-family: "Dancing Script", serif;
            font-weight: 600;
            font-size: 4vw;
            margin: 0;
          }
        }

        .product-price {
          height: 5%;
          display: flex;
          justify-content: center;
          align-items: center;

          p {
            color: #9a5f45;
            font-size: 2vw;
            margin: 0;
          }
        }

        .product-link {
          height: 10%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px 0;

          button {
            background-color: #9a5f45;
            color: #ffffff;
            border: none;
            padding: 8px 16px;
            border-radius: 4px;
            cursor: pointer;
            width: 80%;
            max-width: 200px;
            font-size: 1vw;
          }
        }

        // Se mantiene oculto
        .product-description {
          display: none;
        }
      }
    }
  }
}
