// SCSS correspondiente a articles_index

.articles-index-container {
  background-color: white;
  border: 1px solid black;

  .articles-index-title {
    color: #9a5f45;
    font-size: 48px;
    font-family: "Dancing Script", serif; // Aplicando la nueva fuente
    font-weight: 600;

  }



}


@media screen and (min-width: 1025px) {

}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {

}


@media screen and (max-width: 480px) {

}
