// SCSS correspondiente a articles_index

.articles-index-container {
  background-color: white;
  border: 1px solid black;

  .articles-index-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;

  }



}


@media screen and (min-width: 1025px) {

}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {

}


@media screen and (max-width: 480px) {

}
