// SCSS for your homepage

.home-container {
  height: 100vh;
  width: 100%;
  background-color: white;

}


@media screen and (min-width: 1025px) {

}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {

}


@media screen and (max-width: 480px) {

}
