// SCSS correspondiente a login

.login-container {
  background: white;
  padding: 0 8px;

  .sesion-conexion-container {
    display: flex;

    .login-conexion {
      width: 50%;
      height: 80vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 8px;
      background-color: #f3d2c3;
      border: 1px solid #9a5f45;
      margin: 0 0 4px 0;

      .login-conexion-title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        h2 {
          color: #9a5f45;
          font-size: 48px;
          font-family: "Dancing Script", serif; // Aplicando la nueva fuente
          font-weight: 600;
        }

      }

      .form-horizontal {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;

        .form-inputs {
          margin-bottom: 16px;

          .form-control {
            width: 100%;
            padding: 8px;
            margin-bottom: 8px;
            border: 1px solid #9a5f45;
            border-radius: 4px;
          }

          .form-check-input {
            margin-right: 8px;
          }
        }

        .form-actions {
          display: flex;
          justify-content: center;
          margin: 0 0 16px 0;

          .btn-primary {
            background-color: #9a5f45;
            border-color: #9a5f45;
            padding: 8px 16px;
            font-size: 16px;
            font-weight: 600;
            cursor: pointer;
            border-radius: 4px;

            &:hover {
              background-color: #7e4a36;
              border-color: #7e4a36;
            }
          }
        }
      }


    }

    .signup-conexion {
      width: 50%;
      height: 80vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 8px;
      background-color: #f3d2c3;
      border: 1px solid #9a5f45;
      margin: 0 0 0 4px;

      .signup-conexion-title {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        h2 {
          color: #9a5f45;
          font-size: 48px;
          font-family: "Dancing Script", serif; // Aplicando la nueva fuente
          font-weight: 600;
        }

      }

      form {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;

        .form-inputs {
          margin-bottom: 16px;

          .form-control {
            width: 100%;
            padding: 8px;
            margin-bottom: 8px;
            border: 1px solid #9a5f45;
            border-radius: 4px;
          }

          .form-check-input {
            margin-right: 8px;
          }
        }

        .form-actions {
          display: flex;
          justify-content: center;
          margin: 0 0 16px 0;

          .btn {
            background-color: #9a5f45;
            border-color: #9a5f45;
            color: white;
            padding: 8px 16px;
            font-size: 16px;
            font-weight: 600;
            cursor: pointer;
            border-radius: 4px;

            &:hover {
              background-color: #7e4a36;
              border-color: #7e4a36;
            }
          }
        }
      }



    }

  }

}

@media screen and (min-width: 1025px) {

}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {
  .login-container {
    .sesion-conexion-container {
      flex-direction: column;

      .login-conexion,
      .signup-conexion {
        width: 100%;
        height: auto;
        margin: 0 0 8px 0;

        .login-conexion-title,
        .signup-conexion-title {
          h2 {
            font-size: 36px; // Reducir el tamaño de la fuente para pantallas pequeñas
          }
        }

        .form-horizontal,
        form {
          max-width: 100%; // Asegurar que el formulario ocupe todo el ancho disponible
        }
      }

      .signup-conexion {
        margin: 0; // Eliminar el margen izquierdo en pantallas pequeñas
      }
    }
  }
}


@media screen and (max-width: 480px) {

}
