// SCSS correspondiente a login

// SCSS correspondiente a login

.login-container {
  background: white;

  .login-conexion-container {
    padding: 8px;

    .login-conexion {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 8px;
      background-color: #f3d2c3;
      border: 1px solid #9a5f45;

      h2 {
        color: #9a5f45;
        font-size: 48px;
        font-family: "Dancing Script", serif; // Aplicando la nueva fuente
        font-weight: 600;
      }

      // Estilos para los campos de entrada
      .form-inputs {
        width: 100%;
        border: 1px solid black;

        input[type="email"],
        input[type="password"] {
          color: #9a5f45; // Color del texto
          width: 100%;
          padding: 8px;
          margin-bottom: 16px;
          border: 1px solid #9a5f45;
          border-radius: 4px;
          background-color: white;

          &:focus {
            outline: none;
            border-color: #9a5f45;
            box-shadow: 0 0 5px rgba(154, 95, 69, 0.5);
          }
        }

        // Estilo para el checkbox de "remember me"
        input[type="checkbox"] {
          margin-right: 8px;
        }

        label {
          color: #9a5f45;
        }
      }

      // Estilo para el botón de submit
      .form-actions {
        input[type="submit"] {
          background-color: #9a5f45;
          color: white;
          padding: 8px 16px;
          border: none;
          border-radius: 4px;
          cursor: pointer;

          &:hover {
            background-color: darken(#9a5f45, 10%);
          }
        }
      }
    }
  }
}
