// SCSS correspondiente a login

.login-container {
  background: white;

  .login-conexion-container {

    .login-conexion {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 8px;
      border: 1px solid black;

      h2 {
        color: #9a5f45;
        font-size: 48px;
        font-family: "Dancing Script", serif; // Aplicando la nueva fuente
        font-weight: 600;
      }

      .simple_form new_user {
        border: 1px solid black;
        width: 100%;
      }
    }






  }





}
