// SCSS correspondiente a presentacion

// Presentacion dentro del home intro
.home-intro-container {

  height: 300px;
  width: 100%;
  background-color: #9a5f45;
  display: flex;
  justify-content: center;
  align-items: center;

  .home-intro-card {
    display: flex;
    justify-content: center;
    align-items: center;

    .home-intro-card-left {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
      }

    }

    .home-intro-card-right {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        font-size: 16px;
        color: #f3d2c3;
      }
    }


  }


}

@media screen and (min-width: 1025px) {

  .home-intro-container {

    .home-intro-card {

      .home-intro-card-left {

        img {

        }

      }

      .home-intro-card-right {

        p {

        }
      }

    }

  }
}

@media screen and (max-width: 1024px) {
  .home-intro-container {

    .home-intro-card {
      justify-content: space-evenly;

      .home-intro-card-left {

        img {

        }

      }

      .home-intro-card-right {

        p {

        }
      }

    }

  }
}

@media screen and (max-width: 768px) {

  .home-intro-container {

    .home-intro-card {
      justify-content: space-evenly;


      .home-intro-card-left {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 200px;
          height: 200px;
          border-radius: 50%;
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
        }

      }

      .home-intro-card-right {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          font-size: 16px;
          color: #f3d2c3;
        }
      }


    }


  }
}

@media screen and (max-width: 480px) {
  .home-intro-container {
    height: auto;
    padding: 16px;

    .home-intro-card {
      flex-direction: column;

      .home-intro-card-left {

        img {

        }

      }

      .home-intro-card-right {

        p {

        }
      }

    }

  }
}

// Pagina de presentacion
.presentation-container {

}

@media screen and (min-width: 1025px) {

}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480px) {

}
