<%# !-- Agregar Google Fonts --> %>
<%# Ultima actualizacion 25May25 %>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">

<%# Division general %>
<div class="business-card-container">
  <div class="business-cards">
    <div class="business-card-wp">
      <h2>L'art et la matière</h2>
      <section class="button-wp">
        <a href="https://wa.me/33783120089" target="_blank">
          <button>07 83 12 00 89</button>
        </a>
      </section>
    </div>

    <div class="business-card-livraison">
      <p>Livraison à partir de 3,30€ pour les stickers et cartes postales</p>
      <p>Livraison offerte à partir de 60€</p>
    </div>

    <div class="business-card-social-media">
      <h2 class="dancing-script">Suivez-moi sur nos réseaux sociaux</h2>
      <section class="business-card-social-media-buttons">
        <a href=""><i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-brands fa-instagram"></i></a>
      </section>
    </div>
  </div>
</div>
