<%# HTML correspondiente a cration card %>
<%# Ultima actualizacion 25May25 %>

<div class="creations-card-container">

  <section class="creation-card-title">
    <h2>Les nouvelles creations...</h2>
  </section>
  <div class="creation-cards-section">

    <%# card 1 %>
    <section class="creation-card">
      <section class="creation-card-img">
        <img src="https://res.cloudinary.com/dcfmvazgl/image/upload/v1739360013/Art%20et%20Matiere/WhatsApp_Image_2025-02-09_at_15.24.31_s7yx15.jpg" alt="">
      </section>
      <section class="creation-card-title-article">
        <h2>Coussin</h2>
      </section>
      <section class="creation-card-price">
        <p>3,54€</p>
      </section>
      <section class="creation-card-button">
        <button>Ajouter au panier</button>
      </section>

    </section>

    <%# card 2 %>
    <section class="creation-card">
      <section class="creation-card-img">
        <img src="https://res.cloudinary.com/dcfmvazgl/image/upload/v1739360004/Art%20et%20Matiere/WhatsApp_Image_2025-02-09_at_15.17.30_1_oez1bq.jpg" alt="">
      </section>
      <section class="creation-card-title-article">
        <h2>Coussin</h2>
      </section>
      <section class="creation-card-price">
        <p>3,54€</p>
      </section>
      <section class="creation-card-button">
        <button>Ajouter aun panier</button>
      </section>

    </section>

    <%# card 3 %>
    <section class="creation-card">
      <section class="creation-card-img">
        <img src="https://res.cloudinary.com/dcfmvazgl/image/upload/v1739359993/Art%20et%20Matiere/WhatsApp_Image_2025-02-09_at_15.17.28_swisxa.jpg" alt="">
      </section>
      <section class="creation-card-title-article">
        <h2>Coussin</h2>
      </section>
      <section class="creation-card-price">
        <p>3,54€</p>
      </section>
      <section class="creation-card-button">
        <button>Ajouter aun panier</button>
      </section>

    </section>

    <%# card 4 %>
    <section class="creation-card">
      <section class="creation-card-img">
        <img src="https://res.cloudinary.com/dcfmvazgl/image/upload/v1739359990/Art%20et%20Matiere/WhatsApp_Image_2025-02-09_at_15.17.26_nyyik3.jpg" alt="">
      </section>
      <section class="creation-card-title-article">
        <h2>Coussin</h2>
      </section>
      <section class="creation-card-price">
        <p>3,54€</p>
      </section>
      <section class="creation-card-button">
        <button>Ajouter aun panier</button>
      </section>

    </section>

  </div>
</div>
