<%# HTML correspondiente al header %>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">

<header class="header">
  <div class="header-card-left">
    <img src="https://res.cloudinary.com/dcfmvazgl/image/upload/v1742556817/new-logo_sqtb8o.jpg" alt="logo de l'art et la matiere">
  </div>
  <div class="header-card-right">
    <a href="/home">
      <h1>L'art et la matiere</h1>
      <h2>Une sélection d'œuvres et d'objets écoresponsables</h2>
    </a>
  </div>
</header>
