<%# HTML correspondiente al main %>
<%# Ultima actualizacion 25May25 %>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">

<%# Division general %>
<main class="main">

  <%# Seccion de botones %>
  <div class="main-card-buttons">
    <a href="../articles/verre.html.erb">• Verre</a>
    <a href="../articles/carton.html.erb">• Carton</a>
    <a href="">• Papier de soie</a>
    <a href="">• Papier mâché</a>
    <a href="">• Fils</a>
  </div>

  <%# imagenes %>
  <div class="main-card-container">
    <div class="main-card-left">
      <a href="">
        <img src="https://res.cloudinary.com/dcfmvazgl/image/upload/v1739360012/Art%20et%20Matiere/WhatsApp_Image_2025-02-09_at_15.24.31_1_jo0hcu.jpg" alt="">
      </a>
    </div>
    <div class="main-card-right">
      <div class="main-card-right-top">
        <a href="">
          <img src="https://res.cloudinary.com/dcfmvazgl/image/upload/v1739360012/Art%20et%20Matiere/WhatsApp_Image_2025-02-09_at_15.24.31_2_xste6e.jpg" alt="">
        </a>
      </div>

      <div class="main-card-right-bottom">
        <a href="">
          <img src="https://res.cloudinary.com/dcfmvazgl/image/upload/v1739360005/Art%20et%20Matiere/WhatsApp_Image_2025-02-09_at_15.22.55_ajaj2u.jpg" alt="">
        </a>

      </div>

    </div>

  </div>

</main>
