<%# HTML correspndiente a la navbar %>

<nav class="navbar">
  <div class="navbar-left-card">
    <%# <h2>Livraison offerte des 65€ | Paiment securise </h2> %>
    <a href="">Presentation</a>
    <a href="">Contact</a>
  </div>

  <div class="navbar-right-card">

      <a href="https://www.instagram.com/lart_et_la_matiere1/" target=blank_to><i class="fa-brands fa-instagram"></i></a></li>
      <a href="#"><i class="fa-regular fa-user"></i></a></li>
      <a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
  </div>

</nav>
