<%# HTML correspondiente a postal cards %>

<div class="postal-container">

  <section class="postal-cards-container">

    <%# carta 1 %>
    <section class="postal-card">
      <a href="">
        <img src="https://res.cloudinary.com/dcfmvazgl/image/upload/v1739359989/Art%20et%20Matiere/WhatsApp_Image_2025-02-09_at_15.17.25_vkmno6.jpg" alt="">
      </a>
    </section>

    <%# carta 2 %>
    <section class="postal-card">
      <a href="">
        <img src="https://res.cloudinary.com/dcfmvazgl/image/upload/v1739359988/Art%20et%20Matiere/WhatsApp_Image_2025-02-09_at_15.17.25_2_tk3bzc.jpg" alt="">
      </a>
    </section>

    <%# carta 3 %>
    <section class="postal-card">
      <a href="">
        <img src="https://res.cloudinary.com/dcfmvazgl/image/upload/v1739359982/Art%20et%20Matiere/WhatsApp_Image_2025-02-09_at_15.17.23_srg7wz.jpg" alt="">
      </a>
    </section>

  </section>

</div>
