<%# HTML correspondiente a la pagina del administrador %>
<%# Ultima actualizacion 25May25 %>

<%# Barra de navegacion %>
<%= render "shared/navbar" %>

<%# Header general %>
<%= render 'shared/header' %>

<%# Division general %>
<div class="admin-dashboard">
  <div class="admin-dashboard-title-card-A">

    <%# titulo %>
    <div class="admin-dashboard-title">
      <h1>Bienvenue Sandrine</h1>
    </div>


    <%# Informacion %>
    <div class="admin-dashboard-information">
      <h2>Informations du Washington</h2>
        <p>Ici, vous trouverez votre tableau
          contenant des informations importantes,
          conçu pour vous aider dans le développement
          de votre activité économique. Dans cette
          section, vous recevrez des messages directs
          sur les mises à jour et les changements de
          la page liés à sa maintenance.
        </p>
    </div>
  </div>


  <div class="dashboard-sections">
    <div class="section-utilisateur">
      <h2>Gestion des Utilisateurs</h2>
      <p>Gérez les utilisateurs enregistrés dans le système.</p>
      <a href="/admin/users" class="btn btn-primary">Voir les Utilisateurs</a>
    </div>

    <div class="section-contenu">
      <h2>Gestion du Contenu</h2>
      <p>Gérez le contenu disponible sur la plateforme.</p>
      <a href="/articles/index" class="btn btn-primary">Voir le Contenu</a>
    </div>

    <div class="section-statistiques">
      <h2>Commandes</h2>
      <p>Consultez les Commandes.</p>
      <a href="/admin/stats" class="btn btn-primary">Voir les Statistiques</a>
    </div>
  </div>
</div>
