// SCSS correspondiente a creations card

.creations-card-container {
  margin: 8px 10vh;

  .creation-card-title {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      color: #9a5f45;
      font-family: "Dancing Script", serif; // Aplicando la nueva fuente
      font-weight: 600;
      font-size: 4vw;
    }

  }

  .creation-cards-section {
    display: flex;
    justify-content: center;
    align-items: center;

    .creation-card {
      height: 60vh;
      width: 25%;
      background-color: #ffffff;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      text-align: center;
      margin: 0 8px;

      // imagen posee 50% del tamaño de la tarjeta
      .creation-card-img {
        height: 50%;
        overflow: hidden;
        margin: 16px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

      }

      // titulo posee 25% del tamaño de la tarjeta
      .creation-card-title-article {
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
          color: #9a5f45;
          font-family: "Dancing Script", serif;
          font-weight: 600;
          font-size: 4vw;
        }

      }

      // descripcion precio 10% del tamaño de la tarjeta
      .creation-card-price {
        height: 5%;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          color: #9a5f45;
          font-size: 2vw;
        }

      }

      // boton posee 15% del tamaño de la tarjeta
      .creation-card-button {
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0; // Añadí padding para evitar que el botón se encoja demasiado

        button {
          background-color: #9a5f45;
          color: #ffffff;
          border: none;
          padding: 8px 16px;
          border-radius: 4px;
          cursor: pointer;
          width: 80%; // Ajuste para que el botón mantenga buen tamaño
          max-width: 200px;
          font-size: 1vw;
        }

        .btn {
          background-color: #9a5f45;
          color: #ffffff;
          border: none;
          padding: 8px 16px;
          border-radius: 4px;
          cursor: pointer;
          width: 80%; // Ajuste para que el botón mantenga buen tamaño
          max-width: 200px;
          font-size: 1vw;

        }
      }
    }
  }

}

@media screen and (min-width: 1025px) {

}

@media screen  and (max-width: 1024px) {
  .creations-card-container {

    .creation-card-title {

      h2 {

      }

    }

    .creation-cards-section {
      flex-wrap: wrap;

      .creation-card {
        margin: 8px 0;
        width: 44%;

        // imagen posee 50% del tamaño de la tarjeta
        .creation-card-img {

          img {

          }

        }

        // titulo posee 25% del tamaño de la tarjeta
        .creation-card-title-article {

          h2 {

          }

        }

        // descripcion precio 10% del tamaño de la tarjeta
        .creation-card-price {


          p {

          }

        }

        // boton posee 15% del tamaño de la tarjeta
        .creation-card-button {

          button {

          }
        }
      }
    }

  }
}

@media screen and (max-width: 768px) {
  .creations-card-container {

    .creation-card-title {

      h2 {

      }

    }

    .creation-cards-section {
      flex-wrap: wrap;

      .creation-card {
        margin: 8px;
        width: 44%;

        // imagen posee 50% del tamaño de la tarjeta
        .creation-card-img {

          img {

          }

        }

        // titulo posee 25% del tamaño de la tarjeta
        .creation-card-title-article {

          h2 {
            font-size: 4vh;

          }

        }

        // descripcion precio 10% del tamaño de la tarjeta
        .creation-card-price {


          p {
            font-size: 4vh;
          }

        }

        // boton posee 15% del tamaño de la tarjeta
        .creation-card-button {

          button {
            font-size: 2vh;

          }
        }
      }
    }

  }
}

@media screen and (max-width: 480px) {
  .creations-card-container {

    .creation-card-title {

      h2 {

      }

    }

    .creation-cards-section {
      flex-wrap: wrap;

      .creation-card {
        margin: 8px;
        width: 44%;

        // imagen posee 50% del tamaño de la tarjeta
        .creation-card-img {

          img {

          }

        }

        // titulo posee 25% del tamaño de la tarjeta
        .creation-card-title-article {

          h2 {
            font-size: 4vh;

          }

        }

        // descripcion precio 10% del tamaño de la tarjeta
        .creation-card-price {


          p {
            font-size: 4vh;
          }

        }

        // boton posee 15% del tamaño de la tarjeta
        .creation-card-button {

          button {
            font-size: 2vh;

          }
        }
      }
    }

  }
}
